.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8e1ea4;;
    width: 100%;
    padding: 0 2rem;
}
.main-header h1 {
    color: white;
}
@media (max-width: 768px){
    .main-header{
        justify-content: center;
    }
    .main-header h1 {
        margin-right: 20px;
        font-size:1.3rem
    }
}